/*Estilo texto izquierda y img derecha*/
.habitacion-item,
.suite-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 40px;
}

/* Tamaño de imágenes */
.Deluxe-img img,
.superior-img img,
.premier-img img,
.panoramic-img img,
.persidential-img img {
  width: 800px;
  height: auto;
  border-radius: 10px;
}

/* Texto */
.Room {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h3 {
  text-align: center;
  font-size: 30px;
}

h4 {
  font-size: 25px;
  margin-bottom: 10px;
}
