body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
.menu-toggle {
  display: none; /* Oculto por defecto */
  font-size: 1.3rem; /* Tamaño del ícono hamburguesa */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  margin-right: 0.5rem; /* Espacio entre el borde derecho */
}

.boton-active {
  background: #c8aa5b;
}

.TopHeader {
  position: fixed;
  background-color: #081c40;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem;
  z-index: 20;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: block;
  padding: 0.9rem 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
.Menu-Horizontal li a:hover {
  font-size: 1.2rem;
  color: #c8aa5b;
}
.Menu-Vertical {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  width: 7.5rem;
  background-color: #ebebeb;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  font-size: 1rem;
  color: #c8aa5b;
}
.Menu-Vertical li a:hover {
  color: #081c40;
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: #ffffff;
  }

  .Menu-Horizontal {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #c8aa5b;
    position: absolute;
    top: 5rem;
    left: 0;
  }

  .Menu-Horizontal.active {
    display: flex;
  }

  .Menu-Horizontal li {
    border-bottom: 1px solid #c8aa5b;
  }
}
